<% provide(:title, 'Главная') %>

<div class="welcome">
<h1 id="wlcm">Всем привет!</h1>

<p>
	
</p>

<div class="imageHome">
  <%= link_to image_tag("girl_in_dress.jpg", alt: "image",
                                    :class => 'imageHome') %> 
</div>



</div>