<% provide(:title, "Forgot password") %>

<div class="signup-login">
  <h1>Забыли пароль?</h1>
</div>

<div class="row">
  <div class="form">
  	<%= form_for(:password_reset, url: password_resets_path) do |f| %>
  	  <div class="fiels_password_reset">
  	    <%= f.label :email, 'Введите ваш email' %>
  	    <%= f.email_field :email, :class => 'form_control2' %>
      </div>

      <div class="butn">
  	    <%= f.submit "Отправить", :class => 'btn2' %>
  	  </div>
  	<% end %>              
  </div>
</div>