<h1>Motivashka</h1>

<p>Привет, <%= @user.name %>!</p>
<p>
  Добро пожаловать на сайт Мотивашка! Перейдите по ссылке для активации аккаунта:
</p>

<%= link_to 'Активация аккаунта', edit_account_activation_url(@user.activation_token, email: @user.email) %>
