/* Header */
.navbar {
	background-color: coral;
	width: 100%;
	height: 110px;
}

/* div для названия сайта */
.logo {
	margin-top: -6px;
	margin-left: 30px;
	width: 1150px;
	height: 50px;
    font-size: 2.1em;
    padding-left: 470px;
    border-bottom: 2px solid maroon;
	
}

/* div навигации сайта */
.nav {
	font-size: 1.7em;
	padding-left: 70px;
	margin-top: 10px;
	float: left;
	width: 1150px;
	height: 50px;
}

.link {
	color: white;
}

.link:hover {
	color: maroon;
	text-decoration: none;
}
























/*
 *= require_tree .
 *= require_self
 */
