/* ВСЯ СТРАНИЦА 'body', на всех страницах */
* { 
  box-sizing: border-box; 
}

h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
}

/* Шапка сайта (на всех страницах) */
.navbar {
  background-color: pink;
  height: 110px;
}

/* на всех страницай в шапке */
/* div для названия сайта в шапке (Motivashka) */
.logo {
  margin-top: -6px;
  margin-left: 30px;
  width: 1150px;
  height: 50px;
  font-size: 2.1em;
  padding-left: 470px;
  border-bottom: 2px solid maroon;
  
}

/* Меню в шапке сайта (на всех страницах) */
nav {
  width: 1200px;
  height: 50px; 
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav a {
  text-decoration: none;
  outline: none;
  display: block;
  transition: .4s ease-in-out;
}
.topmenu {
  text-align: center;
  padding: 10px 0;
}
.topmenu > li {
  display: inline-block;
  position: relative;
}

.topmenu > li:hover .submenu {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.topmenu > li:after {
  content: "";
  position: absolute;
  right: 0;
  width: 1px;
  height: 12px;
  background: #d2d2d2;
  top: 16px;
  box-shadow: 4px -2px 0 #d2d2d2;
  transform: rotate(30deg);
}
.topmenu > li:last-child:after {
  background: none;
  box-shadow: none;
}
.topmenu > li > a {
  padding: 12px 26px;
  color: #767676;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: 'Exo 2', sans-serif;
}
.topmenu li a:hover { color: #c0a97a; }


/* на всех страницах */
/* Выпадающее меню (настройки и выход) */
.submenu {
  position: absolute;
  left: 50%;
  top: 100%;
  width: 210px;
  margin-left: -105px;
  background: #fafafa;
  border: 1px solid #ededed;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  transform: scale(.8);
  transition: .4s ease-in-out;
}
.submenu li a {
  padding: 10px 0;
  margin: 0 10px;
  border-bottom: 1px solid #efefef;
  font-size: 17px;
  color: #484848;
  font-family: 'Kurale', serif;
}



/* *** ВСЕ ПОЛЬЗОВАТЕЛИ * /USERS ********************** */

/* url '/users' */
/* Название страницы 'Мотивашки'. Задний фон под словом */
.allUsers {
  border-bottom: 2px solid maroon;
  margin-top: 10px;
  margin-left: 40px;
  font-size: 1.7em;
  height: 50px;
  width: 200px;
}

/* url '/users' */
/* Задний фон под списком всех пользователей */
.users {
  margin-top: 30px;
  list-style: none;
  
}

#grvtr {
  margin-left: 20px;
}

/* url '/users' */
/* Задний фон под каждым пользователем из списка */
/* граватар, имя пользователя, возраст, город */
.users_all {
  overflow: auto;
  padding: 10px 0;
  border-bottom: 1px solid maroon;
  font-size: 1.5em;
}

/* url '/users' */
/* Имя пользов. около граватара на странице /users */
.nameUsers {
  color: #767676;
  width: 700px;
  margin-left: 200px;
}

/* url '/users' */
/* Задний фон под именем пользователя около граватара */
.linkGravatar {
  color: coral;
}

.linkGravatar:hover {
  color: #c0a97a;
}

/* url '/users' */
/* Задний фон под городом пользователя около граватара */
.city {
  margin-top: 20px;
}

/* url '/users' */
/* ссылка 'delete' около каждого пользователя */
/* Видно только для администратора сайта */
#admin {
  width: 100px;
  margin-left: 700px;
  margin-top: -120px;
}



/* *** ВХОД НА САЙТ * /LOGIN ************************* */

/* url '/signup', '/login', '/users/id/edit' */
/* Задний фон названия над всеми формами */

.signup-login{
	border-bottom: 2px solid maroon;
	width: 250px;
	height: 35px;
	margin-top: 20px;
	margin-left: 10px;

}

/* url '/login' */
/* Форма для входа на сайт */
.formLogin {
  
  margin-left: 7px;
  font-size: 1.3em;
  float: left;
  height: 480px;
  width: 550px;
}

/* url '/login' */
/* Задний фон для кнопки формы для входа на сайт */
.sbmt1 {
  margin-top: 20px;
  margin-left: 18px;
}

/* url '/login' */
/* Кнопка формы для входа на сайт */
.btn1{
  background-color: pink;
  border: 2px solid hotpink;
  width: 185px;
}
.btn1:active {
  color: black;
}

/* стили для флажка 'Запомнить меня' */
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* url '/login' */
/* 'еще не с нами?' и ссылка на регистрацию */
.link_to_signup {
  margin-top: 20px;
  margin-left: 35px;
}

/* url '/login' */
/* ссылка под формой входа на сайт 'CоздайCвоюCтр' */
.CCC {
  margin-left: 30px;
}

/* url '/login' */
/* Картинка на странице входа на сайт (/login) */
.imageLog {
  margin-left: 700px;
  margin-top: -550px;

}

.imageLogin {
  height: 550px;
  width: auto;
}



/* *** РЕГИСТРАЦИЯ * /SIGNUP ************************** */

/* url '/signup' */
/* Задний фон под формой на странице регистрации */
.formSignup {
  width: 1300px;
  height: 600px;
  margin-top: 30px;
}

/* url '/signup' */
/* Название на странице 'Регистрация' */
#signup {
  width: 200px;
  margin-top: 15px;
  border-bottom: 2px solid maroon;
}


#allForm {
  height: 300px;
  position: relative;
}


/* url '/signup' */
/* левая часть формы регистрации(имя,возраст,город) */
.leftForm {
  width: 550px;
  position: absolute;
}

/* url '/signup' */
/* правая часть формы регистрации(адрес эл.почты и пароль) */
.rightForm {
  width: 550px;
  margin-left: 550px;
  position: absolute;
  
}

/* url '/signup' */
/* название полей в форме регистрация (который label) */
.fiels_signup_name {
  margin-top: 25px;
  margin-left: 20px;
  
}

/* url '/signup', '/login', '/users/id/edit' */
/* class текстовых полей во всех формах */
.field_signup {
  margin-top: 10px;
  width: 540px;
  height: 38px;
  border: 2px solid maroon;
  margin-left: -10px;
}



/* url '/signup' */
/* DIV кнопки формы на странице регистрации */
.sbmt_signup {
  width: 230px;
  height: 40px;
  margin-top: 30px;
  margin-left: 430px;
}

/* url '/signup' */
/* Кнопка формы на странице регистрации */
.btn_signup {
  background-color: hotpink;
  border-bottom: 3px solid maroon;
  border-right: 5px solid maroon;
  width: 230px;
  height: 40px;
  margin-top: 80px;
}

.btn_signup:active {
  color: black;
}


/* *** ПРОФИЛЬ ПОЛЬЗОВАТЕЛЯ * url /USERS/ID ************ */

/* url /users/id */
/* Изображение в профиле */
.gravatar {
  width: 150px;
  height: 150px;
  float: left;
  margin-right: 30px;
  margin-top: 20px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* url /users/id */
/* Задний фон под информацией о пользователе
                             около граватара */
.user_info {
  background-color: pink;
  padding: 10px 0;
  margin-top: 20px;
}

.nameUser {
  font-size: 1.5em;
}




/* *** 'Забыли пароль?'* url /password_resets/new ***** */

/* url /password_resets/new */
/* Задний фон формы на странице 'Забыли пароль?' */
.form_forgotPassword {
  margin-top: 30px;
}

/* url /password_resets/new */
/* Название текстового поля (label) в форме
                           'forgot password?' */

.fiels_password_reset {
  margin-left: 20px;
}

/* url /password_resets/new */
/* Текстовое поле в форме 'forgot password?' */
.form_control2 {
  width: 410px;
  border: 2px solid maroon;
}

/* url /password_resets/new */
/* Задний фон кнопки в форме 'Забыли пароль?' */
.butnForgot {
  margin-top: 30px;

}

/* url /password_resets/new */
/* Кнопка в форме 'Забыли пароль?' */
.btnForgot{
  width: 200px;
  margin-left: 20px;
  border-bottom: 3px solid maroon;
  border-right: 5px solid maroon;
  background-color: hotpink;
}

.btnForgot:active {
  color: black;
}


/* *** 'КОНТАКТЫ'* url /contacts *********************** */

/* url /contacts */
/* Задний фон страницы 'Контакты' */
.myContacts {
  margin-top: 30px;
}

/* Название страницы 'Мои контакты' (в <h1>) */
#cont {
  font-size: 1.7em;
  border-bottom: 2px solid maroon;
  width: 200px;
}

/* Текст на странице 'Мои контакты' */
.cont2 {
  margin-top: 30px;
  font-size: 1.6em;
}

/* Картинка на странице 'Контакты' */
.imageContacts {
  margin-top: 40px;
  margin-left: 40px;
}


/* *** 'ГЛАВНАЯ'* url root_path *********************** */

/* url root_path */
/* Задний фон формы на странице 'Главная' */
.welcome {
  background-color: yellow;
  height: 600px;
}

/* Название страницы 'Главная'(Всем привет) (в <h1>) */
#wlcm {
  word-spacing: 10px;
  margin-top: 20px;
  font-size: 1.5em;
  border-bottom: 2px solid maroon;
  width: 300px;
}

/* Картинка на странице 'Главная' */
.imageHome {
  height: 550px;
  width: auto;
  margin-left: 400px;
  margin-top: -15px;
}

























   



































/*
 *= require_tree .
 *= require_self
 */
